<div class="row">
    <div class="col-md-6 col-xs-12 mx-auto">
        <div class="card" style="padding: 20px;">
            <h5>RpgMaster</h5>
            <h6>Login</h6>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="p-fluid">
                    <div class="p-field"  style="margin-top: 30px;">
                        <span class="p-float-label">
                            <input class="form-group-item" id="username" type="text" pInputText formControlName="username" [ngClass]="{'p-invalid': !loginForm.controls.username.valid && loginForm.controls.username.touched}">
                            <label for="username">Username</label>
                        </span>
                        <small *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched" id="username-help" class="p-invalid">Username is required</small>
                    </div>
                    <div class="p-field" style="margin-top: 30px;">
                        <span class="p-float-label">
                            <input class="form-group-item" id="password" type="password" pInputText formControlName="password" [ngClass]="{'p-invalid': !loginForm.controls.password.valid && loginForm.controls.password.touched}">
                            <label for="password">Password</label>
                        </span>
                        <small *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched" id="password-help" class="p-invalid">Password cant' be empty</small>
                    </div>
                </div>
                <div  style="margin-top: 10px;">
                    <p-button label="Login" type="submit" [disabled]="!loginForm.valid"></p-button>
                </div>
                <p-messages [(value)]="messages"></p-messages>
            </form>
        </div>
    </div>
</div>